<a href="https://colab.research.google.com/github/John-Rex-Maupoy/PLNG211QC/blob/main/Control_and_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If Statement

In [ ]:
a = 100
b = 100 

if a < b:
  print("a is less than b")

Elif Statement

In [ ]:
if a < b:
  print('a is less than b')
elif a > b:
  print("a is greater than b")
else:
  print("a is equal to b")

Short Hand If Statement

In [ ]:
c = 10
d = 5

if c > d: print("c > d")

Short Hand If.. Else Statement

In [ ]:
print('c > d') if c > d else print('d > c')

And Statement

In [1]:
if 10 > 5 and  8 > 4:
  print("Both statement are true")
else:
  print("One of the statement is flase /both statements are not true")

Both statement are true

Or Statement

In [2]:
if 5 > 10 or 8 > 4:
  print('True')
else:
  print('False')

True

Bitwise Operator ^ (xor)

In [3]:
e = 4 #Binary : 0100
f = 2 #Binary : 0010

e ^ f

6

Nested If Statement

In [6]:
x = 39

if x > 10:
  print('Number is above 10')
  if x > 20:
    print('Number is above 20')
    if x > 30:
      print('Number is above 30')
      if x > 40:
        print('Number is above 40')
        if x > 50:
          print('Number is above 50')
        else:
          print('Number is less than 50')
      else:
        print('Number is less than 40')

Number is above 10
Number is above 20
Number is above 30
Number is less than 40

For Loop Statement

In [16]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
  print(y)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [17]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
  print(y)
  if y == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [18]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
  if y == "Thursday":
    break
  print(y)

Sunday
Monday
Tuesday
Wednesday

Range() Function

In [19]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [20]:
for x in range(2, 6+1, 1):
  print(x)

2
3
4
5
6

In [21]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [22]:
i = 1

while i <= 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

Application 1

In [33]:
#Write a program that determines if the input age is qualified to vote or not
#The qualifying age is 18 years old and above

age = int(input("Enter your age:"))
#age = 18

if age >= 18:
  print('Qualified to vote')
else:
  print('Not qualified to vote')

Enter your age:14
Not qualified to vote

Application 2

In [32]:
# Write a program that determines if the input number is POSITIVE, NEGATIVE, or ZERO

num = int(input("Enter number: "))

if num > 0:
  print("The number is POSITIVE")
elif num < 0:
  print("The number is NEGATIVE")
else:
  print("The number is ZERO")

Enter number: 0
The number is ZERO

Application 3

In [27]:
# Using while loop and break statement, the output is only 3

i = 1

while i <= 6:
  if i == 3:
    print(i)
    break
  i += 1

3