<a href="https://colab.research.google.com/github/John-Rex-Maupoy/PLNG211QC/blob/main/Introduction_to_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [1]:
if 5>2:
  print("Five is greater than two")

  #This is comment
  print("Hello, World")

Five is greater than two
Hello, World

Python Variables

In [2]:
x = 1
a,b=0,-1
print(a)
a = "Sally"
c = "Danny"

#Code is read by line so the newer declaration will be read
print(c)
c = "Maria"

0
Danny

In [3]:
print(c)
#Code cell will print the latest declaration from previous cell.

Maria

Multiple Variables

In [4]:
#Multiple variables with declaration in single line
f,g,h="one","two","three"
print(f)
print(g)
print(h)

one
two
three

One Value to Multiple Variables

In [14]:
u=i=o='four'
print(u)
print(i)
print(o)

four
four
four

Python Casting

In [9]:
#Explicit type of casting
#Python need user involvment the variable data into certain type

d = int(4)
print(d)
e = float(4)
print(e)
f = str("Word")
print(f)

4
4.0
Word

In [8]:
#Implicit type of casting
d = 4.0
e = 4
f = "Word"
print(type(d))
print(type(e))
print(type(f))

<class 'float'>
<class 'int'>
<class 'str'>

Output Variables

In [21]:
c = 'Python programming'
p = 'enjoying'
print( c + " is enjoying")
print( 'Python programming is ' + p)

Python programming is enjoying
Python programming is enjoying

In [20]:
#Other Way
e = 'Python programming'
r = ' is enjoying'
z = e+r
print(z)

Python Programming is enjoying

Arithmetic Operators

In [24]:
n = 5
m = 3
print(n+m)
print(n//m)

#Other way
n = 6
m = 4
sum = n+m
print(sum)

8
1
10

Assignment Operators

In [23]:
a,b,c=0,-1,6
c%=3
print(c)

0